<!DOCTYPE html>
<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="js/es6-shim.min.js"></script>
    <script src="js/system-polyfills.js"></script>
    <script src="js/shims_for_IE.js"></script>   
    
    <script src="js/angular2-polyfills.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system.js"></script>
   <script src="https://unpkg.com/typescript@1.8.10/lib/typescript.js"></script>  
    <script src="js/Rx.js"></script>
    <script src="js/angular2.dev.js"></script>
	<script src="js/main.js"></script>
    
    
        <!-- 2. Configure SystemJS  -->
    <script>
      System.config({
        transpiler: 'typescript', 
        typescriptOptions: { emitDecoratorMetadata: true }, 
        packages: {        
          'js': {     defaultExtension: 'js'    }
        }
      });
      System.import('js/main')
            .then(null, console.error.bind(console));
    </script>
  </head>

  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->